[Unit]
Description=PicoCalc kernel module loader
#Requires=sys-module-configfs.device
#After=sys-module-configfs.device

[Service]
User=root
Type=oneshot
ExecStart=/usr/local/bin/picocalc-check
ExecStartPost=/sbin/modprobe ili9488_fb picocalc_kbd

[Install]
WantedBy=multi-user.target
